<%- include('./partials/head') %>

<!-- Content -->

<main>

<article class="methods">
  <% if (methods && methods.length > 0) { %>
    <% methods.forEach((method) => { %>
      <% if (method.template && method.template.url) { %>
        <img src="<%= method.template.url %>" alt="Template Image">
      <% } %>
      <section>
        <h2><%= method.title %></h2>
      </section>
  
    <% }); %>
  <% } %>
</article>
  
</main>
</body>
</html>

<%- include('./partials/foot') %>
