:root {
  --vtDarkBlue: #090940;
  --vtButton: #de563b;
  --vtGrey: #f9f9f9;
  --vtBorders: #e0dedc;
  --mainBackground: #ffffff;

  --vtPrimaryFont: "rigid-square", sans-serif;
  --vtSecondaryFont: "yrsa", serif;

  --vtMenuFont: 800 20px "rigid-square", sans-serif;
  --vtH1Font: 800 36px "rigid-square", sans-serif;
  --vtH2Font: 800 24px "rigid-square", sans-serif;
}

h1 {
  font: var(--vtH1Font);
  color: var(--vtDarkBlue);
}

h2 {
  font: var(--vtH2Font);
  color: var(--vtDarkBlue);
}

p {
  font-family: var(--vtSecondaryFont);
  font-size: 18px;
}

/* NAVBAR  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START MENU BAR */
.header-logo {
  padding: 0 20px;
  margin: 30px 0px;
}

header {
  width: 100%;
  z-index: 2;
}

.toggler {
  color: var(--vtDarkBlue);
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 50px;
}

/* START NAVIGATION */
nav {
  width: 100%;
  display: none;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--vtDarkBlue);
  font: var(--vtMenuFont);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* intro */

.intro {
  display: grid;
  grid:
    ". intro ." 1fr
    / 1fr 5fr 1fr;
  gap: 8px;

  background-color: var(--vtGrey);
  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 40px;
}

.intro-text {
  grid-area: intro;
}

.intro-text h1 {
  margin-bottom: 20px;
}

/* .methods {
} */

.methods img {
  width: 300px;
  border: 1px solid;
  border-color: var(--vtBorders);
}

.methods-titles {
  word-break: break-word;
  width: 250px;
}

/*
                        RESPONSIVE TABLET  
*/
@media (min-width: 31em) {
  .content {
    padding: 0 50px;
  }

  .toggler {
    display: none;
  }

  nav {
    display: block !important; /* prevent the nav to hide when resize */
    position: relative;
    width: auto;
    float: right;
    padding: 5px 0;
  }

  nav ul {
    float: left;
  }

  nav ul li {
    display: inline-block;
    padding-right: 50px;
    color: var(--vtDarkBlue);
    font: var(--vtMenuFont);
  }
}

@media (min-width: 50em) {
  main {
    display: grid;
    grid:
      ". content ." 1fr
      / 1fr 4fr 1fr;
    gap: 8px;
  }

  .methods {
    grid
  }
}
