:root {
  --vtDarkBlue: #090940;
  --vtButton: #de563b;
  --vtGrey: #f9f9f9;
  --vtBorders: #e0dedc;
  --mainBackground: #ffffff;

  --vtPrimaryFont: "rigid-square", sans-serif;
  --vtSecondaryFont: "yrsa", serif;

  --vtMenuFont: 800 20px "rigid-square", sans-serif;
  --vtH1Font: 800 36px "rigid-square", sans-serif;
  --vtH2Font: 800 20px "rigid-square", sans-serif;
}

h1 {
  font: var(--vtH1Font);
  color: var(--vtDarkBlue);
}

h2 {
  font: var(--vtH2Font);
  color: var(--vtDarkBlue);
}

p {
  font-family: var(--vtPrimaryFont);
  font-size: 16px;
  color: var(--vtDarkBlue);
}

/* NAVBAR  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START MENU BAR */
.header-logo {
  padding: 0 20px;
  margin: 30px 0px;
}

header {
  width: 100%;
  z-index: 2;
}

.toggler {
  color: var(--vtDarkBlue);
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 50px;
}

/* START NAVIGATION */
nav {
  width: 100%;
  display: none;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--vtDarkBlue);
  font: var(--vtMenuFont);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* intro */

.intro {
  display: grid;
  grid:
    ". intro ." 1fr
    / 1fr 5fr 1fr;
  gap: 8px;

  background-color: var(--vtGrey);
  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 40px;
}

.intro-text {
  grid-area: intro;
}

.intro-text h1 {
  margin-bottom: 20px;
}

/*                      
                        DROPDOWN MENU 
*/

li a {
  text-decoration: none;
  color: var(--vtDarkBlue);
  font-family: var(--vtPrimaryFont);
}

.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;

  transition: height 0.4s ease;
}

.slide li {
  display: flex;
  align-items: center;
  padding: 30px;
}

.slide li:nth-child(1)::before {
  float: left;
  left: 10%;
  content: url(/assets/0-logo/1-icons/onderzoeken-en-begrijpen.svg);
}

.slide li:nth-child(2)::before {
  float: left;
  right: 10%;
  content: url(/assets/0-logo/1-icons/organiseren-en-plannen.svg);
}

.slide li:nth-child(3)::before {
  float: left;
  left: 10%;
  content: url(/assets/0-logo/1-icons/leren-over-anderen.svg);
}

.slide li:nth-child(4)::before {
  float: left;
  left: 10%;
  content: url(/assets/0-logo/1-icons/leren-over-jezelf.svg);
}

.slide li:nth-child(5)::before {
  float: left;
  left: 10%;
  content: url(/assets/0-logo/1-icons/communiceren.svg);
}

.slide li:nth-child(6)::before {
  float: left;
  left: 10%;
  content: url(/assets/0-logo/1-icons/creatief.svg);
}

.categories {
  width: 100%;
  background: var(--vtGrey);
  margin: 10px auto;
}

span {
  padding: 30px;
  background: var(--vtGrey);
  color: var(--vtDarkBlue);
  font-size: 1.2em;
  cursor: pointer;
  display: block;
  font-family: var(--vtPrimaryFont);
  font-weight: 800;
  font-size: 16px;
}

span::after {
  float: right;
  right: 10%;
  content: url(/assets/0-logo/1-icons/arrow-down-WATER-vtHBO.svg);
}

#touch {
  position: absolute;
  opacity: 0;
  height: auto;
}

#touch:checked + .slide {
  height: auto;
}

/* .methods {
} */

.methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.methods img {
  width: 300px;
  border: 1px solid;
  border-color: var(--vtBorders);
}

.methods-titles {
  width: 200px;
}

/*                          LOAD MORE  
*/

.method-hidden {
  display: none;
}

.load-more {
  text-align: center;
  margin-top: 16px;
}

.load-more-button {
  background-color: var(--vtButton);
  border: none;
  width: 153px;
  height: 54px;
  font-family: var(--vtPrimaryFont);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: var(--mainBackground);
  cursor: pointer;
}

.load-less-button {
  background-color: var(--vtButton);
  border: none;
  width: 153px;
  height: 54px;
  font-family: var(--vtPrimaryFont);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: var(--mainBackground);
  cursor: pointer;
}

/*
                        RESPONSIVE TABLET  
*/
@media (min-width: 31em) {
  .content {
    padding: 0 50px;
  }

  .toggler {
    display: none;
  }

  nav {
    display: block !important; /* prevent the nav to hide when resize */
    position: relative;
    width: auto;
    float: right;
    padding: 5px 0;
  }

  nav ul {
    float: left;
  }

  nav ul li {
    display: inline-block;
    padding-right: 50px;
    color: var(--vtDarkBlue);
    font: var(--vtMenuFont);
  }
}

@media (min-width: 45em) {
  main {
    display: grid;
    grid:
      ". methods ." 1fr
      / 1fr 4fr 1fr;
    gap: 10px;
  }

  .methods {
    grid-area: methods;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(50% - 10px), 1fr)
    ); /* change width to 50% */
    grid-auto-flow: dense;
    gap: 10px;
  }

  .method-container {
    display: grid;
    grid-template-rows: 1fr auto; /* define grid rows */
  }

  .method-container img {
    width: 100%;
    height: auto;
  }

  .methods-titles h2 {
    width: 200px;
  }
}

@media (min-width: 65em) {
  main {
    display: grid;
    grid:
      ". methods ." 1fr
      / 1fr 4fr 1fr;
    gap: 8px;
  }

  .methods {
    grid-area: methods;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(33.33% - 10px), 1fr)
    ); /* change width to 33.33% */
    grid-auto-flow: dense; /* fill in empty cells */
    gap: 10px;
  }

  .method-container {
    display: grid;
    grid-template-rows: 1fr auto; /* define grid rows */
  }

  .method-container img {
    width: 100%;
    height: auto;
  }

  .methods-titles h2 {
    width: 200px;
  }
}
